/*set up universal box-sizing adjustment*/

html {
  box-sizing: border-box;
}

b {
    font-weight: bold;
}

form {
    width: 90%;
    max-width: 760px;
    margin: 0 auto;
}

form.product-input {
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    padding: 0.5rem;
}
/*put all other styles below this line, please*/

#book1 {
    height: 250px;
    width: 200px;
    display: block;
    border: solid 1px #f0f0f0;
    padding: 5px;
}

#book1 .name {
    font-family: Arial, sans-serif;
    font-weight: bold;

}

#book1 .author {
    font-family: fantasy;
    font-size: .9em;
}

.picture_url {
    height: 100px;
    width: 150px;
}

.picture_url img {
    width: 100%;

}
#book1 {
    height: 250px;
    width: 200px;
    display: block;
    border: solid 1px #f0f0f0;
    padding: 5px;
}

#store-name-area h1 {
    font-size: 2rem;
    font-family: "Georgia", "Times New Roman", serif;
    color: #087fa1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#store-name-area {
    background-color: #eaeaea;
}

#nav-bar{
    width: 100%;
    background-color: #087fa1;
}

#nav-bar ul {
    display: flex;
    font-size: 1rem;
    font-family: "Helvetica", sans-serif;
    color: #ffffff;
}

#nav-bar li {
    padding: 10px;
}

#footer {
    width: 100%;
    background-color: #b8b8b8;
}

#footer ul {
    display: flex;
}

#footer li {
    padding: 10px;
}
