/*set up universal box-sizing adjustment*/

html {
  box-sizing: border-box;
}

b {
    font-weight: bold;
}

form {
    width: 90%;
    max-width: 760px;
    margin: 0 auto;
}

form.product-input {
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    padding: 0.5rem;
}
/*put all other styles below this line, please*/

#content-area {
    display: flex;
    flex-wrap: wrap;
}

#content-area > div {
    width: 300px;
    display: block;
    border: solid 1px #f0f0f0;
    padding: 5px;
    margin: 0.25rem;
}

#content-area > div div {
    margin: 0.25rem;
}

.name {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    color: #3a97e8;
}

.author {
    font-family: Arial, sans-serif;;
    font-size: .9em;
    float: right;
    margin-bottom: .3rem;
}

.picture-url  {
    width: 90%;
    margin: 0 auto;
}

.picture-url img {
    width: 100%;
    height: auto;
}


#store-name-area h1 {
    font-size: 2rem;
    font-family: "Georgia", "Times New Roman", serif;
    color: #087fa1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#store-name-area {
    background-color: #eaeaea;
}

#nav-bar{
    width: 100%;
    background-color: #087fa1;
}

#nav-bar ul {
    display: flex;
    font-size: 1rem;
    font-family: "Helvetica", sans-serif;
    color: #ffffff;
}

#nav-bar li {
    padding: 10px;
}

#footer {
    width: 100%;
    background-color: #b8b8b8;
}

#footer ul {
    display: flex;
}

#footer li {
    padding: 10px;
}
